.navbar-container {
  height: 79px;
  background: linear-gradient(90deg, #4ade80 0%, #3b82f6 100%);
  flex-grow: 1;
}

.navbar-title {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-left: 25px;
}

.navbar-Innercontainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-toggleIcon {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar-toggleIcon {
    display: block;
    width: 20px;
    margin: 0 10px;
  }

  .navbar-title {
    margin-left: 0px;
  }
}
